
/* prevent weird highlights https://stackoverflow.com/questions/21003535/ */
.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hidden elements should be hidden regardless of their display style */
[hidden] { display: none !important; }

/* default to width/height including padding and border */
* { box-sizing: border-box; }

/* used dynamically to prevent or cancel smooth transitions */
.skip-transition { transition: none !important; }

/* make buttons inherit font */ 
button, input[type="submit"] { font-family: inherit; font-size: inherit; }

/* clickable things should use this cursor imo */
button, a { cursor: pointer; }

/* crisp pixelart */
canvas, img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
}

:root {
    background: black; color: white;
    font-family: monospace;
    font-size: 2vh;
    text-size-adjust: none;
}

html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
    display: flex; flex-direction: column;
}

#chat-log {
    display: flex; flex-direction: column;
    padding: .5rem; gap: .5rem;

    /* width: 256px; */

    flex: 1;

    overflow: hidden scroll;
}

#chat-input {
    display: flex; flex-direction: row;
    padding: .5em; gap: .5em;
    flex: 0;
}

#chat-input input[type="text"] {
    background: black;

    color: white;
    flex: 1;
    background: black;
    border: solid black 3px;
}

.chat-message {

}

.chat-avatar {
    margin: 0 .5em;
    aspect-ratio: 1;
    height: 1em;

    vertical-align: middle;
}
