doctype html
html
    head
        title low tech template
        meta(charset="utf-8")
        // styles
        style#base-style
            include styles/style.css
        // scripts
        script
            include scripts/utility.js
        script
            include scripts/blitsy.js
        script
            include scripts/client.js
        script
            include scripts/main.js
    body(onload="start()")
        #chat-log
        form#chat-input
            input#chat-text(type="text" placeholder="chat message..." autocomplete="off")
            input(type="submit" value="send")#chat-send
